#app-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr 50px;

  nav {
    grid-area: header;
  }

  aside {
    grid-area: sidebar;
    transition: 0.3s ease-out;
  }

  aside.active{
    translate: 0;
  }

  main {
    grid-area: main;
    overflow-y: auto;
  }

  footer {
    grid-area: footer;
  }
}

@media (max-width: 1024px) {
  #app-layout {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 50px;

    aside {
      position: fixed;
      left: 0;
      bottom: 0;
      translate: -100% 0;
      width: 300px;
      height: calc(100% - 80px);
      transition: 0.5s;
    }
  }
}
